/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

nav button {
  background: transparent;
  border: none;
}

/* Mobile-specific adjustments (width < 768px) */
@media screen and (max-width: 768px) {
  /** Nav Section **/
  nav {
    display: flex;
    padding: 1em;
    background: #540b51;
  }

  nav div > img {
    width: 30%;
  }
  /* Hide the list */
  nav ul {
    display: none;
  }

  /*nav div*/
  nav div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  /**actual body **/
}
